.aside
  position: fixed
  z-index: 11
  background: #283544
  height: 100%
  width: 70px
  padding-top: 11px

  .ant-badge
    margin-top: -3px
    margin-left: 5px

  .ant-badge-count
    background: #108ee9
    background: #F44336
    font-weight: normal

  .ant-menu-item
    font-size: 16px
    font-weight: 600
    border-right: none
    padding: 0px
    padding-left: 0px !important
    display: block
    height: 50px
    line-height: 50px
    color: #8696a4
    text-align: center
    background-color: transparent !important

    span
      display: block
      width: 100%
      height: 100%

      i
        margin-right: 3px

    span.logo
      i
        font-size: 32px


    span.ant-badge
      display: inline
      width: auto
      height: auto
      margin-left: 0px

      sup
        box-shadow: none
        background-color: #ec535e

  .ant-menu-item:hover
    color: #9dadbb

  .ant-menu-inline
    border-right: none

  .ant-menu
    background: none

  h4
    font-size: 11px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.08em
    padding-top: 30px
    padding-bottom: 15px
    padding-left: 25px
