.header
  transition: opacity 0.5s
  background: $primaryBeta
  height: 55px
  padding: 0 25px
  width: 100%
  line-height: 55px
  position: fixed
  z-index: 10

  .logo
    color: $whiteAlpha
    font-size: 20px

  .ant-input-search-wrapper
    width: 400px
    margin: 0 auto
    display: block
    top: 7px
    position: relative

    i
      color: rgba(255, 255, 255, 0.8)
      right: 15px

  input
    width: 400px
    border-radius: 2px
    border-color: $primaryGamma
    box-shadow: none
    color: $whiteAlpha
    height: 40px
    background: $primaryGamma
    margin: 0 auto
    display: block
    position: relative
    padding-left: 15px
    padding-right: 35px
    font-weight: 200
    font-size: 13px

  input:focus, input:hover
    outline: none
    box-shadow: none
    border-color: $primaryGamma

  input::-webkit-input-placeholder
    color: rgba(255, 255, 255, 0.8)

  input:-moz-placeholder
    color: rgba(255, 255, 255, 0.8)

  input::-moz-placeholder
    color: rgba(255, 255, 255, 0.8)

  input:-ms-input-placeholder
    color: rgba(255, 255, 255, 0.8)

.header.header-shadow
  box-shadow: 0 0 5px rgba(57,70,78,.2)
  border-bottom: none
