.header
  transition: opacity 0.5s
  background: #fff
  height: 55px
  padding: 0 25px
  width: 100%
  line-height: 55px
  position: fixed
  z-index: 10
  border-bottom: solid 1px #e9eced

.header.header-shadow
  box-shadow: 0 0 5px rgba(57,70,78,.2)
  border-bottom: none
