#user-circle-dropdown
  .ant-dropdown-menu
    margin-left: -73px

.user-circle
  height: 40px
  width: 40px
  position: relative
  top: 14px

.user-circle-background
  height: 40px
  width: 40px
  background: #4285f4
  border-radius: 100%

  p
    color: #fff
    font-size: 24px
    line-height: 40px
    text-align: center
    text-decoration: none !important
