#user-circle-dropdown
  .ant-dropdown-menu
    margin-left: -73px

.user-circle
  height: 35px
  width: 35px
  position: relative
  top: 10px

.user-circle-background
  height: 35px
  width: 35px
  background: #1C90F3
  border-radius: 100%

  p
    color: #fff
    font-size: 22px
    line-height: 35px
    text-align: center
    text-decoration: none !important
