@import ./node_modules/antd/dist/antd
@import components/Header
@import components/UserCircle
@import components/Aside

body
  background: #f3f5f6

.main-content
  position: relative
  padding-top: 55px
  padding-left: 190px

.float-right
  float: right
